*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



html{

    font-size: 10px;

}



body{

    font-family: Helvetica, sans-serif;

    background-image: url(background.jpg);

    background-position: center;

    background-size: cover;

}



.container{

    width: 71.8rem;

    height: 87.1rem;

    background-color: rgba(0, 0, 0, 0.4);

    margin: 4rem auto;

    color: #fff;

    border-radius: 1rem;

}



.logo{

    display: flex;

    justify-content: center;

    padding-top: 2rem;

}



.container h3{

    text-align: center;

    color: #fff;

    font-size: 2rem;

    margin: 1.5rem 0;

}



form{

    width: 50rem;

    height: 73rem;

    margin: auto;

    display: flex;

    align-items: center;

    flex-direction: column;

    font-size: 1.6rem;

    background-color: rgba(0, 0, 0, 0.7);

    border-radius: 1rem;

}



form .block{

    display: block;

}



select{

    width: 17.3rem;

}



.name, .age, .mail, .content-type{

    margin-top: 1.4rem;

}



.input-1{

    margin-top: .5rem;

    padding: .8rem;

    border: none;

    border-radius: .5rem;

    width: 40rem;

}



/* input 2  */





.movie-type, .gender, .feedback, .btn{

    margin-top: 1.4rem;

}



.feedback label{

    display: block;

    margin-bottom: .5rem;

    margin-left: 2.4rem;

}



.feedback textarea{

    margin-top: .5rem;

    padding: .8rem;

    border: none;

    border-radius: .5rem;

}



.movie-type, .gender{

    width: 100%;

    margin-left: 10rem;

}



.btn1{

    background-color: #E50914;

    padding: 1.2rem 5rem;

    border-radius: 2.5rem;

    color: #fff;

    font-size: 1.8rem;

    letter-spacing: .2rem;

    border: none;

}



.btn1:hover{

    background-color: #fff;

    color: #E50914;

    cursor: pointer;

    transition: all .5s;

}







